@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	text-decoration:none;
	font-size: 20px;
	font-weight: bolder;
	font-family: 'Poppins', sans-serif;
	position: relative;
}

.titulop{
	font-size:50px;
}

titulos{
	font-size: 25px;
}
.cabecalho-img{
	height: 140px;
}




.cabecalho-menu{
	display: flex;
	gap: 32px 32px;
	flex-direction: row;
	align-items: center;
	justify-content: space-arround;
	padding: 24px;
	background-color:white;
}

.cabecalho-menu-inf{
	color: black;
	font-weight: 400;
	font-size: 24px;
	text-align: justify;
}



.imagem1{
	height:130px;
}

.principal-conteudo{
	padding: 10px;
	line-height: 1.6em;
	font-size: 35px;
	text-align: center;	 
}

.conteudo{
	display: flex;
	flex-direction: column;
	background-color: #CC9A9A;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
	
	
}
.conteudo2{
	display: flex;
	flex-direction: column;
	background-color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: right;
	
}
.conteudo3{
	display: flex;
	flex-direction: column;
	background-color: #CC9A9A;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}

.conteudo-escrito{
	font-size: 30px;
	font-family: Sans Serif;
	line-height: 1.6em;
}
.rodape{
	padding: 32px;
	border-top: 0.4px solid #FFF2E8;
	background-color: white;
	position: absolute;
	bottom: 0;
}

.rodape-txt{

	font-size: 18px;
	color: black;
	text-align: center;
}