<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>ServletProcesso</display-name>
    <servlet-name>ServletProcesso</servlet-name>
    <servlet-class>armazem.ServletProcesso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProcesso</servlet-name>
    <url-pattern>/ServletProcesso</url-pattern>
  </servlet-mapping>
  <display-name>Z_PJI_ONG</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletProcessar</display-name>
    <servlet-name>ServletProcessar</servlet-name>
    <servlet-class>armazem.ServletProcessar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProcessar</servlet-name>
    <url-pattern>/ServletProcessar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerificaLogin</display-name>
    <servlet-name>VerificaLogin</servlet-name>
    <servlet-class>armazem.VerificaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificaLogin</servlet-name>
    <url-pattern>/VerificaLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProcessarAnimal</display-name>
    <servlet-name>ServletProcessarAnimal</servlet-name>
    <servlet-class>armazem.ServletProcessarAnimal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProcessarAnimal</servlet-name>
    <url-pattern>/ServletProcessarAnimal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInserirAdotante</display-name>
    <servlet-name>ServletInserirAdotante</servlet-name>
    <servlet-class>armazem.ServletInserirAdotante</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInserirAdotante</servlet-name>
    <url-pattern>/ServletInserirAdotante</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProcessarAdotar</display-name>
    <servlet-name>ServletProcessarAdotar</servlet-name>
    <servlet-class>armazem.ServletProcessarAdotar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProcessarAdotar</servlet-name>
    <url-pattern>/ServletProcessarAdotar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletProcessaClinico</display-name>
    <servlet-name>ServletProcessaClinico</servlet-name>
    <servlet-class>armazem.ServletProcessaClinico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProcessaClinico</servlet-name>
    <url-pattern>/ServletProcessaClinico</url-pattern>
  </servlet-mapping>
</web-app>